<template name="postSubmit">
    <form class="main form page fond-translucide1">

        <!--<form class="  fond-translucide2">-->

            <div class="row row-centered">
                <div class="col-xs-9 col-centered col-sm-12 col-centered col-md-12 col-centered col-xl-12 col-centered" >
                    {{> boissons}}
                    {{> burgers}}
                    {{> pizzas}}
                    {{> salades}}
                    {{> desserts}}
                </div>
            </div>

            <div class="posts">
                {{#each posts}}
                {{> postItem}}
                {{/each}}
            </div>
        <!--</form>-->



        <!--<div class="form-group">-->
                <!--&lt;!&ndash;////ERRORS&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="form-group {{errorClass 'url'}}">&ndash;&gt;-->
            <!--<div class="row row-centered">-->
                <!--<div class="col-xs-6 col-centered col-sm-9 col-centered col-md-12 col-centered col-xl-12 col-centered" >-->

                    <!--{{> boissons}}-->

                    <!--{{> burgers}}-->

                    <!--{{> pizzas}}-->

                    <!--{{> salades}}-->
                    <!--{{> desserts}}-->


                <!--</div>-->
            <!--</div>-->



            <input name="url" id="url" type="text" value="" placeholder="Votre URL" class="form-control"/>
                <!--</div>-->



            <!--/////////////////////////////////////BURGERS-->









        <div class="form-group">

            <!--/////ERRORS-->
            <!--<div class="form-group {{errorClass 'title'}}">-->

            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="" placeholder="Nommez votre article" class="form-control"/>
                <!--/////ERRORS-->
                <!--<span class="help-block"></span>-->
                <!--<span class="help-block">{{errorMessage 'title'}}</span>-->
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>

