<template name="postPage">
    <div class="post-page page">
        {{> postItem}}
    </div>
</template>


<!--<template name="postPage">-->

<!--<form class="main form page">-->
    <!--<div class="form-group">-->
        <!--&lt;!&ndash;////ERRORS&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="form-group {{errorClass 'url'}}">&ndash;&gt;-->
        <!--<div class="row row-centered">-->
            <!--<div class="col-xs-6 col-centered col-sm-9 col-centered col-md-12 col-centered col-xl-12 col-centered" >-->

                <!--{{> drinks}}-->
                <!--{{> pizzas}}-->
                <!--{{> salades}}-->
                <!--{{> burgers}}-->
                <!--{{> desserts}}-->

            <!--</div>-->
        <!--</div>-->
<!--</template>-->
