<template name="postsList">
    <!--<form class="main form page fond-translucide2">-->
    <form class="main form page fond-translucide1">

    <div class="row row-centered">
        <div class="col-xs-9 col-centered col-sm-12 col-centered col-md-12 col-centered col-xl-12 col-centered" >
            {{> home}}

        </div>
    </div>

    <!--<div class="posts">-->
            <!--{{#each posts}}-->
            <!--{{> postItem}}-->
            <!--{{/each}}-->
        <!--</div>-->
    </form>
</template>



