<!--/////BOISSONS//////-->

<template name="BoissonsList">
    <div class="deb">
        {{#each boissons}}
        <div class="conteneur_prodDeBo">

            <img src="{{image}}" class="prod"/>
            <div class="pizza" >
                <!--<br>-->

                <b>{{name}}</b></div>
            <div class="ingredDeBo"></div>
            <div class="prix" >
                Prix : {{price}} euros</div>
            <span>{{> compteur1}}   </span>
        </div>
        <br>
        {{/each}}
    </div>

</template>

<template name="boissons">
    <label class="control-label" for="url">BOISSONS</label>
    <div class="produits">
        {{> BoissonsList}}
    </div>

    <hr>
</template>






